header {
    background-image: url("../assets/images/header-background.png");
    color: #36b398;
    text-align: center;
    padding: 10px 0px 0px 0px;
}

.headerTitle {
    padding: 50px 0px 0px 0px;
}

.headerIntro {
    color: #30cfac;
}

#searchCard {
    display: flex;
    text-align: center;
}

.card {
    width: 650px;
    padding: 15px;
    border-color: #63dbc1;
    justify-content: center;
    background-color: #adffe5;
    margin: 20px auto;
    color:  #36b398;
}
